<div ng-style="{'width': ctrl.width, 'height' : ctrl.height}" ng-controller="pxSliderStyledPredixCtrl as ctrl" id="{{ctrl.widgetContainerID}}">

    <link ng-href="{{DECISYON.template.mainLibraryPath}}/vendor/px-slider/px-slider.html" rel="import" dcy-on-load load-handler="ctrl.setPredixSliderLibraryLoaded();" >

        <px-slider id="{{ctrl.widgetID}}" 
        max="{{ctrl.max}}" 
        min="{{ctrl.min}}" 
        step="{{ctrl.step}}" 
        value="{{ctrl.value}}" 
        start-value="{{ctrl.startValue}}">
        </px-slider>

</div>